*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(245, 235, 235);
}

.card{
    width: 340px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.bio h2{
    margin: 10px;
    font-size: 20px;
    color: black;
}

.bio p{
    font-size: 14px;
    color: darkslategray;
    padding: 10px;

}

.contact a {
    display: inline-block;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin: 5px;
    transition: 0.3s;
}
.contact a:hover {
    color: #0056b3;
}

.container img {
    width: 120px;  
    height: 120px;
    border-radius: 50%; 
    border: 4px solid #007bff;
    object-fit: cover; 
    display: block;
    margin: 0 auto;  
}
